<a href="/pages/about">About</a>
<a href="/pages/contact">Contact</a>
<h1>Welcome to Yelpdemo!</h1>
<h2>this is one of the sample rails application i created with rails, a great webdevelopment platform that helps you create awesome websites.</h2>
<p>Copyright Terrence Henriquez</p>
